@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Raleway:wght@100;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.encabezado-container {
    display: grid;
    background-color: #000;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(3, 25px);
}

.container-img {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 36%);
    margin-right: auto;
    margin-left: auto;
    place-items: center;
}

.container-img box-img figure {
    width: 100%;
    height: 100%;

}

.container-img box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1100px) {
    .container-img {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px;
    }
}

input {
    display: none;
}

label {
    display: none;
}

@media screen and (max-width: 500px) {
    .container-img {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .container-img .box-img img {
        height: 200px;
    }
}

@media screen and (max-width: 767px) {

    ul {
        display: none;
    }

    input:checked~ul {
        display: block;
    }

    input {
        display: none;
    }

    label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }

    label:hover {
        background: rgb(58, 9, 52);
    }

    input:checked~label {
        background: rgb(105, 20, 94);
    }

    ul {
        margin-top: 0;
        padding: 0;
        width: 200px;
    }

    li {
        display: block;
        background: rgb(105, 20, 94);
        margin: 0;
        padding: 10px;
        list-style: none;
    }

    li:hover {
        filter: brightness(110%);
    }
}

.container-video {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr)) 
    grid-template-row repeat(2 360px);
    place-items: center;
    width: 100%;
    height: 100%
}
.cont {
    display: grid;
    padding-top: 80px;
    display: grid;
    grid-template-columns: auto-fit;
    grid-template-rows: 60px, 1fr;
    column-gap: 15px;
    grid-row-gap: 19px;
    justify-content: center;
}
.menu.icon {
    display: none;
}
img-home {
    width: 100%;
}
body {
    background-color: black;
    font-family: 'Oxygen', sans-serif;
    ;
    color: white;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(105, 20, 94);
    min-height: 60px;
    width: 100%;
    color: white;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
    line-height: 40px;
}
a {
    color: white;
    text-decoration: none;
}
img {
    border-radius: 10%;
    border: 2px solid #000;
}
iframe {
    border-radius: 10%;
    border: 2px solid #000
}
footer {
    background-color: rgb(105, 20, 94);
    height: 60px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    color: white;
    justify-content: end;
}
.nav-menu-link {
    padding: 8px 12px;
    border-radius: 15px;
}
.nav-menu-link:hover {
    background-color: rgb(58, 9, 52);
    transition: 0.5s;
}
.clearfix {
    clear: both;
}